.dart_tool/
.idea/
.vscode/
build/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
pubspec.lock
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
.metadata
android/.gradle
ios/Pods
.env
*.iml
*.log
